.player-list
{
    background: #e5e5e5;
}

.player-list h3
{
    margin-top: 0;
}

.player-list ul
{
    padding-left: 0;
}

.player-list ul li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-field
{
    min-height: 300px;
}

.play-card
{
    display: block;
    font-size: 100px;
    line-height: 81px;
    height: 93px;
    width: 64px;
    background: #fff;
    margin-top: -50px;
    position: relative;
}

.play-card:first-child
{
    margin-top: 0;
}