.player-list
{
    background: #e5e5e5;
}

.player-list h3
{
    margin-top: 0;
}

.player-list ul
{
    padding-left: 0;
}

.player-list ul li
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.play-field
{

}

.play-card
{
    display: inline-block;
    font-size: 100px;
}